@page "/Espanha"

<!-- Home Section -->

<section id="home" class="main-gallery parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Espanha</h1>
            </div>

        </div>
    </div>
</section>

<br>

<br>

<!-- Gallery Section -->

<section id="gallery">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <h2>Espanha - Los nostros hermanos</h2>
                <p>Adoramos cada visita que fazemos aos nossos vizinhos mesmo aqui ao lado. Já estivemos em muitos locais mas sentimos sempre que ainda não vimos nem metade de Espanha. Sendo um país tão grande é natural que haja sempre algo a ver.</p>
                <p>Deixamo-vos os locais por onde passámos na nossa última roadtrip. No futuro iremos adicionar os restantes locais que visitámos também com várias fotos e dicas.</p>
                <span></span>
                <div class="col-md-6 col-sm-6" id="Ilhas">
                    <div class="gallery-thumb">
                        <a href="images/gallery-image1.jpg" class="image-popup">
                            <img src="images/gallery-image1.jpg" class="img-responsive" alt="Gallery Image">
                        </a>
                        <span class="image-text"><a style="font-size: large; color: white;" href="IlhasBaleares.html">Ilhas Baleares</a></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Barcelona">
                    <div class="gallery-thumb">
                        <a href="images/gallery-image2.jpg" class="image-popup">
                            <img src="images/gallery-image2.jpg" class="img-responsive" alt="Gallery Image">
                        </a>
                        <span class="image-text"><a style="font-size: large; color: white;" href="Barcelona.html">Barcelona</a></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Valencia">
                    <div class="gallery-thumb">
                        <a href="images/gallery-image3.jpg" class="image-popup">
                            <img src="images/gallery-image3.jpg" class="img-responsive" alt="Gallery Image">
                        </a>
                        <span class="image-text"><a style="font-size: large; color: white;" href="Valencia.html">Valência</a></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Madrid">
                    <div class="gallery-thumb">
                        <a href="images/gallery-image4.jpg" class="image-popup">
                            <img src="images/gallery-image4.jpg" class="img-responsive" alt="Gallery Image">
                        </a>
                        <span class="image-text"><a style="font-size: large; color: white;" href="Madrid.html">Madrid</a></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Caceres">
                    <div class="gallery-thumb">
                        <a href="images/gallery-image5.jpg" class="image-popup">
                            <img src="images/gallery-image5.jpg" class="img-responsive" alt="Gallery Image">
                        </a>
                        <span class="image-text"><a style="font-size: large; color: white;" href="Caceres.html">Cáceres</a></span>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-sm-6" id="Sevilha">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Sevilha</a></span>
                     </div>
                </div>
                <div class="col-md-6 col-sm-6" id="Aracena">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image1.jpg" class="image-popup">
                               <img src="images/gallery-image1.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Aracena</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Setenil">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image2.jpg" class="image-popup">
                               <img src="images/gallery-image2.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Setenil de las Bodegas</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Ronda">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image3.jpg" class="image-popup">
                               <img src="images/gallery-image3.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Ronda</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Gibraltar">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image4.jpg" class="image-popup">
                               <img src="images/gallery-image4.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Gibraltar</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="La Manga">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image5.jpg" class="image-popup">
                               <img src="images/gallery-image5.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">La Manga</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Merida">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Mérida</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Pamplona">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Pamplona</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Benidorm">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Benidorm</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Alicante">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Alicante</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Badajoz">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Badajoz</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Huelva">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Huelva</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Punta Umbria">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Punta Umbria</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Isla Cristina">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Isla Cristina</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Isla Canela">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Isla Canela</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Alemeria">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Almeria</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Malaga">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Malaga</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Marbella">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Marbella</a></span>
                     </div>
                </div>

                <div class="col-md-6 col-sm-6" id="Lepe">
                     <div class="gallery-thumb">
                          <a href="images/gallery-image6.jpg" class="image-popup">
                               <img src="images/gallery-image6.jpg" class="img-responsive" alt="Gallery Image">
                          </a>
                          <span class="image-text"><a style="font-size: large; color: white;" href="Maiorca.html">Lepe</a></span>
                     </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Back top -->
</section>

@code {



}
