@page "/"

<!-- Home Section -->

<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Bem-vindos ao nosso blog!</h1>
                <h4>We travel not to escape life, but for life not to escape from us.</h4>
            </div>

        </div>
    </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">
               <br>
               <h4 style="text-align: center; font-size: larger;">Fizemos uma roadtrip de quase um mês por Espanha.
                    <p style="font-size: larger;">Neste blog poderão encontrar várias dicas tais como, que locais a visitar e muito mais... 
                <p>Damo-vos a conhecer a nossa experência pelos destinos mais famosos de Espanha.</p></p></h4>
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="images/mallorca-index.jpeg" class="image-popup">
                                   <img src="images/mallorca-index.jpeg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3>Ilhas Baleares</h3>
                         </div>
                         <div class="blog-post-format">
                              <span><i class="fa fa-date"></i> Agosto, 2023</span>
                         </div>
                         <div class="blog-post-des">
                              <p>Visitámos Maiorca, Ibiza e Formentera na nossa penúltima viagem a Espanha.</p>
                              <a href="/IlhasBaleares" class="btn btn-default">Continuar</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="images/barcelona-index.jpeg">
                                   <img src="images/barcelona-index.jpeg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3>Barcelona</h3>
                         </div>
                         <div class="blog-post-format">
                              <span><i class="fa fa-date"></i> Agosto, 2023</span>
                         </div>
                         <div class="blog-post-des">
                              <p>Voltámos a visitar Espanha mas desta vez fomos numa longa roadtrip que começou em Cáceres e que só acabou em Barcelona.</p>
                              <a href="/Barcelona" class="btn btn-default">Continuar</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="images/valencia-index.jpeg">
                                   <img src="images/valencia-index.jpeg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3>Valência</h3>
                         </div>
                         <div class="blog-post-format">
                              <span><i class="fa fa-date"></i> Agosto, 2023</span>
                         </div>
                         <div class="blog-post-des">
                              <p>Esta cidade além de ter tanta coisa para descobrir tem uma cidade dedicada á ciência. A não perder!</p>
                              <a href="/Valencia" class="btn btn-default">Continuar</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="images/madrid-index.jpeg">
                                   <img src="images/madrid-index.jpeg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3>Madrid</h3>
                         </div>
                         <div class="blog-post-format">
                              <span><i class="fa fa-date"></i> Agosto, 2023</span>
                         </div>
                         <div class="blog-post-des">
                              <p>Uma das maiores cidades espanholas, possui uma vida muito própria. Um local que não podem deixar de visitar.</p>
                              <a href="/Madrid" class="btn btn-default">Continuar</a>
                         </div>
                    </div>

                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              <a href="images/caceres-index.jpeg">
                                   <img src="images/caceres-index.jpeg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>
                         <div class="blog-post-title">
                              <h3>Cáceres</h3>
                         </div>
                         <div class="blog-post-format">
                              <span><i class="fa fa-date"></i> Agosto, 2023</span>
                         </div>
                         <div class="blog-post-des">
                              <p>Cidade não muito conhecida bem perto da nossa fronteira, tem uma zona histórica com muita tradição.</p>
                              <a href="/Caceres" class="btn btn-default">Continuar</a>
                         </div>
                    </div>
               </div>

          </div>
     </div>

     <h4 style="text-align: center; font-size: larger;">O nosso site ainda está em construção, em breve iremos colocar muitos mais locais.</h4>

</section>
