@page "/IlhasBaleares"


<!-- Home Section -->

<section id="home" class="main-gallery parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Ilhas Baleares</h1>
               </div>

          </div>
     </div>
</section>

<!-- Gallery Section -->

<section id="gallery">
     <div class="container">
          <div class="row">

              
<div class="col-md-12 col-sm-12">
     <div class="image-container">
         <div class="col-md-6 col-sm-6">
             <div class="gallery-thumb">
                 <a href="images/gallery-image1.jpg" class="image-popup">
                     <img src="images/gallery-image1.jpg" class="img-responsive" alt="Gallery Image">
                 </a>
                 <span class="image-text"><a style="font-size: large; color: white;" href="/Mallorca">Maiorca</a></span>
             </div>
         </div>
 
         <div class="col-md-6 col-sm-6">
             <div class="gallery-thumb">
                 <a href="images/gallery-image2.jpg" class="image-popup">
                     <img src="images/gallery-image2.jpg" class="img-responsive" alt="Gallery Image">
                 </a>
                 <span class="image-text"><a style="font-size: large; color: white;" href="/Ibiza">Ibiza</a></span>
             </div>
         </div>
 
         <div class="col-md-6 col-sm-6">
             <div class="gallery-thumb">
                 <a href="images/gallery-image3.jpg" class="image-popup">
                     <img src="images/gallery-image3.jpg" class="img-responsive" alt="Gallery Image">
                 </a>
                 <span class="image-text"><a style="font-size: large; color: white;" href="/Formentera">Formentera</a></span>
             </div>
         </div>
     </div>
 </div>
                    <div class="col-md-12 col-sm-12">
                <p>As ilhas Baleares são um arquipélago localizado perto da costa leste de Espanha, no Mediterrâneo.</p> 
                <p>O seu nome deriva do latim Baliarides pois os seus habitantes eram peritos em atirar perdas com fisgas!
                </p>
                <p>Maiorca, a maior ilha, é famosa pelas suas praias e pela sua bela costa. É a cidade de Palma de Maiorca que é a capital do arquipélago.</p>
                    
            </div>
               </div>

          </div>

</section>


@code {

}
